<div class="container-fluid">

  <div class="row scrollable-row" cdkDropListGroup>
    <div class="col-12 d-flex">
      <div class="card-column me-3" *ngFor="let stageType of stageTypes">
        <div class="card">
          <!-- header -->
          <div class="card-header bg-white">
            <div class="d-flex flex-column">
              <h4 class="card-title d-flex p-2 text-nowrap" style="margin: 0;">{{ stageType.name }}</h4>
              <div class="d-flex flex-wrap align-items-center text-muted ">
                <span class="p-2">$ {{ dealsValueByStageId[stageType.id] | number : '1.2-2' }}</span>
                <span class="p-2">{{ dealsByStageId[stageType.id].length }} Deal</span>
                <span class="p-2">{{ dealsProbabilityByStageId[stageType.id] }}%</span>
              </div>
            </div>
          </div>

          <div cdkDropList class="example-list" [cdkDropListData]="dealsByStageId[stageType.id]"
            (cdkDropListDropped)="drop($event)" style="background-color: rgb(240, 240, 240);">
            <div class="col" *ngFor="let deal of dealsByStageId[stageType.id]" cdkDrag>
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <app-pipeline-view-card [cardData]="deal"></app-pipeline-view-card>
            </div>
          </div>

          <div class="text-center d-grid">
            <button class="btn btn-primary" (click)="addModal()"><i class="mdi mdi-plus me-1"></i>
              Add New</button>
          </div>
        </div>
      </div>
    </div>
  </div>