img {
    width: 150px;
    height: 135px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }

::ng-deep {
  .cdk-overlay-container{
    z-index: 1100 !important;
}
  .mat-select-arrow { opacity: 0; }

  mat-select.chip-bg {
      border: none;
  }
  .mat-chip-list-wrapper::after {
      content: '+ Add';
      color: rgba(0,0,0,.42);
  }
}

.chip-bg {
    background-color: rgba(0,0,0,0.04);
}