<div>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped mb-0">

          <thead>
            <tr>
              <th>Name</th>
              <th>Created By</th>
              <th style="text-align: right;">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let lostReason of lostReasons">
              <td>{{ lostReason.lostReason }}</td>
              <td>{{ lostReason.createdBy.fullName }}</td>
              <td style="text-align:right">
                <span>
                  <div class="btn-group btn-group-action" role="group">
                    <button type="button" class="btn" (click)="openModal(content)">
                      <i class="mdi mdi-square-edit-outline font-size-24"></i>
                    </button>
                    <button type="button" class="btn" (click)="centerModal(centerDataModal)">
                      <i class="mdi mdi-delete font-size-24"></i>
                    </button>
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<!-- Edit modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Lost Reasons</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Name</p>
    <input type="text" placeholder="Enter name" class="form-control">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary">Save</button>
  </div>
</ng-template>

<!-- Exit modal -->
<ng-template #centerDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Are you sure?</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <p>This content will be deleted permenantly.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">No</button>
    <button type="button" class="btn btn-primary">Yes</button>
  </div>
</ng-template>