<div class="modal-header">
  <h5 class="modal-title mt-0">{{ isEdit ? 'Edit' : 'Add' }} activity</h5>
  <button type="button" class="btn-close" aria-hidden="true" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="activityForm">
    <div class="form-group row mb-3">
      <label for="formDealTitleInput" class="col-sm-2 col-form-label">Activity</label>
      <div class="col-sm-10">
        <div class="btn-group flex-wrap" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" id="call" autocomplete="off" formControlName="activity" value="call">
          <label class="btn btn-outline-primary" for="call">Call</label>
          <input type="radio" class="btn-check" id="meeting" autocomplete="off" formControlName="activity"
            value="meeting">
          <label class="btn btn-outline-primary" for="meeting">Meeting</label>
          <input type="radio" class="btn-check" id="email" autocomplete="off" formControlName="activity" value="email">
          <label class="btn btn-outline-primary" for="email">Email</label>
          <input type="radio" class="btn-check" id="task" autocomplete="off" formControlName="activity" value="task">
          <label class="btn btn-outline-primary" for="task">Task</label>
          <input type="radio" class="btn-check" id="deadline" autocomplete="off" formControlName="activity"
            value="deadline">
          <label class="btn btn-outline-primary" for="deadline">Deadline</label>
          <input type="radio" class="btn-check" id="others" autocomplete="off" formControlName="activity"
            value="others">
          <label class="btn btn-outline-primary" for="others">Others</label>
        </div>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="formActivityTitleInput" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="formActivityTitleInput" placeholder="Enter Deal Title Here"
          formControlName="title">
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="formDescriptionInput" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control text-muted" id="formDescriptionInput" rows="3" placeholder="Enter description"
          formControlName="description"></textarea>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="formLeadTypeInput" class="col-sm-2 col-form-label">Set schedule</label>
      <div class="col-sm-10">
        <div class="row mb-1">
          <div class="col-lg-7 pr-lg-0">
            <input class="form-control" type="date" id="startDateInput" formControlName="startDate">
          </div>
          <div class="col-lg-5 pl-lg-0">
            <input class="form-control" type="time" id="startTimeInput" formControlName="startTime">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-7 pr-lg-0">
            <input class="form-control" type="date" id="endDateInput" formControlName="endDate">
          </div>
          <div class="col-lg-5 pl-lg-0">
            <input class="form-control" type="time" id="endTimeInput" formControlName="endTime">
          </div>
        </div>
        <div class="button-items">
          <button type="button" class="btn btn-light btn-rounded" (click)="addMinutes(15)">00:15 H</button>
          <button type="button" class="btn btn-light btn-rounded" (click)="addMinutes(30)">00:30 H</button>
          <button type="button" class="btn btn-light btn-rounded" (click)="addMinutes(45)">00:45 H</button>
          <button type="button" class="btn btn-light btn-rounded" (click)="addMinutes(600)">10:00 H</button>
        </div>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="formActivityTypeInput" class="col-sm-2 col-form-label">Activity Types</label>
      <div class="col-sm-10 d-flex align-items-center">
        <select class="form-select" formControlName="activityType">
          <option value="deal"> Deal </option>
          <option value="person"> Person </option>
          <option value="organization"> Organization </option>
        </select>
      </div>
    </div>

    <div class="form-group row mb-3" *ngIf="activityForm.get('activityType').value == 'deal'">
      <label for="formDealValueInput" class="col-sm-2 col-form-label">Deal</label>
      <div class="col-sm-10 mb-1">
        <mat-select class="form-select" formControlName="deal">
          <mat-option>
            <ngx-mat-select-search [formControl]="dealCtrl" placeholderLabel="Search" noEntriesFoundLabel="No results">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let deal of filteredDeals | async" [value]="deal">
            {{deal.title}}
          </mat-option>
        </mat-select>
        <div class="form-row">
          <div class="d-flex align-items-center">
            <div class="col-sm-5 d-flex align-items-center">
              <div class="avatar-sm ml-2">
                <span class="avatar-title rounded-circle bg-light text-black font-size-16">{{
                  getInitials(activityData.owner.fullName) }}</span>
              </div>
              <div class="media-body p-2">
                <p style="margin: 0;font-size: large;">{{ activityData.owner.fullName }}</p>
                <p class="text-muted font-size-90 mb-0">Owner</p>
              </div>
            </div>
            <div class="pt-4">
              <p class="text-muted font-size-90 mb-2">
                No lead added yet
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row mb-3" *ngIf="activityForm.get('activityType').value == 'organization'">
      <label for="formDealValueInput" class="col-sm-2 col-form-label">Organization</label>
      <div class="col-sm-10 mb-1">
        <mat-select class="form-select" formControlName="organization">
          <mat-option>
            <ngx-mat-select-search [formControl]="organizationCtrl" placeholderLabel="Search"
              noEntriesFoundLabel="No results"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let organization of filteredOrganizations | async" [value]="organization">
            {{organization.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mb-3" *ngIf="activityForm.get('activityType').value == 'person'">
      <label for="formDealValueInput" class="col-sm-2 col-form-label">Person</label>
      <div class="col-sm-10 mb-1">
        <mat-select class="form-select" formControlName="person">
          <mat-option>
            <ngx-mat-select-search [formControl]="personCtrl" placeholderLabel="Search"
              noEntriesFoundLabel="No results"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let person of filteredPeoples | async" [value]="person">
            {{person.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="formActivityTypeInput" class="col-sm-2 col-form-label">Participants</label>
      <div class="col-sm-10">
        <mat-select class="form-control chip-bg" placeholder="+ Add" multiple formControlName="participants">
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip *ngFor="let participant of activityForm.controls.participants.value" [removable]="true"
                (removed)="removeParticipant(participant.id)">
                {{ participant.name }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No result"
              [formControl]="participantCtrl">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let participant of filteredParticipants | async" [value]="participant">
            {{participant.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="formActivityTypeInput" class="col-sm-2 col-form-label">Collaborators</label>
      <div class="col-sm-10 d-flex align-items-center">
        <mat-select class="form-control chip-bg" placeholder="+ Add" multiple formControlName="collaborators">
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip *ngFor="let collaborator of activityForm.controls.collaborators.value" [removable]="true"
                (removed)="removeCollaborator(collaborator.id)">
                {{ collaborator.fullName }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No result"
              [formControl]="collaboratorCtrl">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let collaborator of filteredCollaborators | async" [value]="collaborator">
            {{collaborator.fullName}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="formStageTypeInput" class="col-sm-2 col-form-label">Save as done</label>
      <div class="col-sm-10 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="markAsDone">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
</div>