<div class="card">
  <!-- header -->
  <div class="card-header bg-transparent border-bottom ">
    <div class="d-flex align-items-start">
      <div class="align-self-center me-3">
        <img src="assets/images/users/avatar-1.jpg" class="avatar-xs rounded-circle" alt="">
      </div>
      <div class="media-body">
        <h5 class="font-size-15 text-primary mt-0 mb-1" (click)="openProfile()" style="cursor: pointer;">
          {{ cardData.title }}</h5>
        <h5><span class="badge rounded-pill" [ngClass]="'bg-'+cardData.statuses.clazz">
            {{ cardData.statuses.name|slice:7 }}</span></h5>
      </div>
      <div ngbDropdown>
        <div class="btn-group ms-auto">
          <button id="btnGroupVerticalDrop1" ngbDropdownToggle type="button" class="btn dropdown-toggle "
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupVerticalDrop1" ngbDropdownMenu>
            <a class="dropdown-item" (click)="editModal()">Edit</a>
            <a class="dropdown-item" (click)="deleteModal()">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- body -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item border-0 d-flex justify-content-between align-items-center mt-3">
      <div class="d-flex align-items-center">
        <span class="avatar bg-dark text-white rounded-circle d-flex align-items-center justify-content-center"
          style="width: 32px;height: 32px;">{{ getInitials() }}</span>
        <P class="p-2 ml-2 mb-0">{{ cardData.owner.firstName }} {{ cardData.owner.lastName }}</P>
      </div>
      <p class="text-info text-nowrap mb-0">$ {{ cardData.value | number : '1.2-2' }}</p>
    </li>
    <li class="list-group-item border-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-briefcase size-20 text-muted">
        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
      </svg>
      Not added yet TODO
    </li>
    <li class="list-group-item border-0" text-muted>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-calendar size-20 text-muted">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      {{ cardData.createdAt | date:'dd-MM-yyyy h:mm a' }}
    </li>
  </ul>

  <!-- Footer -->
  <div class="card-footer bg-transparent border-top ">
    <p class="text-muted">Comment <span class="badge bg-light">0 TODO</span></p>
    <!-- <p class="text-muted">Proposal <span class="badge bg-light">{{ cardData.proposals.length }}</span></p> -->
  </div>
</div>