<div class="card" style="cursor: move;">
  <!-- header -->
  <div class="card-header bg-transparent">
    <div class="d-flex align-items-start justify-content-between">
      <div class="d-flex align-items-center">
        <span class="avatar bg-dark text-white rounded-circle d-flex align-items-center justify-content-center"
          style="width: 32px;height: 32px;">AV</span>
        <div class="media-body p-2" (click)="openProfile()" style="cursor: pointer;">
          <span class="mt-0 mb-0 text-muted text-nowrap">{{ pipeline[0].name }}<b class="text-black"> #{{ cardData.id
              }}</b></span>
          <p style="margin: 0;"><b>{{ cardData.title }}</b></p>
        </div>
      </div>
      <div ngbDropdown>
        <div class="btn-group">
          <button id="btnGroupVerticalDrop1" ngbDropdownToggle type="button" class="btn dropdown-toggle "
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupVerticalDrop1" ngbDropdownMenu>
            <a class="dropdown-item" (click)="activityModal()">Add activity</a>
            <a class="dropdown-item" (click)="openModal(tagContent)">Manage Tag</a>
            <a class="dropdown-item" (click)="openWonModal(wonContent)">Won the deal</a>
            <a class="dropdown-item" (click)="openLostModal(lostContent)">Make it lost</a>
            <a class="dropdown-item">Mark</a>
            <a class="dropdown-item" (click)="openEditModal(cardData)">Edit</a>
            <a class="dropdown-item" (click)="openDeleteModal()">Delete</a>
          </div>
        </div>
      </div> <!-- end dropdown -->
    </div>
  </div>

  <!-- body -->
  <div class="card-body">
    <div *ngIf="cardData.person.length > 0; else nolead">
      <div class="d-flex-inline" *ngFor="let person of cardData.person">
        <p class="text-muted font-size-90" style="margin: 0;">
          {{ person.name }}
        </p>
      </div>
    </div>
    <ng-template #nolead>No lead added yet</ng-template>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <span class="badge bg-dark text-white rounded-circle d-flex align-items-center justify-content-center"
          style="width: 16px;height: 16px;">{{ getInitials(cardData.owner.fullName) }}</span>
        <p class="p-2 ml-2 mb-0">{{ cardData.owner.fullName }}</p>
      </div>
      <p class="text-nowrap mb-0">$ {{ cardData.value | number : '1.2-2' }}</p>
    </div>
  </div>

  <!-- Footer -->
  <div class="card-footer bg-transparent border-top">
    <p class="card-text"><em><small>Created At :<b>{{ cardData.createdAt | date:'dd-MM-yyyy' }}</b></small></em></p>
  </div>
</div>

<!-- Manage Tag Modal -->
<ng-template #tagContent let-modal>
  <div class="modal-header">
    <h3 class="modal-title mt-0">Manage Tag</h3>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <div class="col-form-label">
      <mat-select [formControl]="personControl" placeholder="+ Add" multiple>
        <mat-select-trigger>
          <mat-chip-list>
            <mat-chip *ngFor="let selectedPerson of personControl.value" [removable]="true"
              (removed)="onPersonRemoved(selectedPerson)">
              {{ selectedPerson.name }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-select-trigger>
        <mat-option *ngFor="let selectedPerson of person" [value]="selectedPerson">{{selectedPerson.name}}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- Won Modal -->
<ng-template #wonContent let-modal>
  <div class="modal-body d-flex flex-column justify-content-center modal-alert">
    <div class="text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-check-circle text-success">
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
    </div>
    <h5 class="text-center font-weight-bold mt-4">Congratulation!</h5>
    <p class="mb-primary text-center font-size-90 p-0">You won the deal successfully</p>
    <div class="text-center">
      <button class="btn btn-success" (click)="modal.dismiss('Cross click')" (click)="refreshData()">Thank You</button>
    </div>
  </div>
</ng-template>

<!-- Lost Modal -->
<ng-template #lostContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Deal lost</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="dealLostForm">
      <div class="form-group row mb-3">
        <label for="formLostReasonInput" class="col-sm-2 col-form-label text-nowrap">Lost Reason</label>
        <div class="col-sm-10 d-flex align-items-center">
          <select class="form-select" formControlName="lostReasonsId">
            <option *ngFor="let lostReason of lostReasons" value="{{lostReason.id}}">{{ lostReason.lostReason }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="formCommentInput" class="col-sm-2 col-form-label">Comment</label>
        <div class="col-sm-10">
          <textarea class="form-control text-muted" id="formCommentInput" rows="3" formControlName="comment"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updateDealsToLost()">Confirm</button>
  </div>
</ng-template>