<div class="card" style="cursor: move;">
  <!-- header -->
  <div class="card-header bg-transparent">
    <div class="d-flex align-items-start justify-content-between">
      <div class="d-flex align-items-center">
        <span class="avatar bg-dark text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 32px;height: 32px;">AV</span>
        <div class="media-body p-2" (click)="openProfile()" style="cursor: pointer;">
          <span class="mt-0 mb-0 text-muted text-nowrap">{{ pipeline[0].name }}<b class="text-black"> #{{ cardData.id }}</b></span>
          <p style="margin: 0;"><b>{{ cardData.title }}</b></p>
        </div>
      </div>
      <div ngbDropdown>
        <div class="btn-group">
          <button id="btnGroupVerticalDrop1" ngbDropdownToggle type="button"
              class="btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupVerticalDrop1" ngbDropdownMenu>
              <a class="dropdown-item" (click)="activityModal(activityContent)">Add activity</a>
              <a class="dropdown-item" (click)="openModal(tagContent)">Manage Tag</a>
              <a class="dropdown-item">Won the deal</a>
              <a class="dropdown-item">Make it lost</a>
              <a class="dropdown-item">Mark</a>
              <a class="dropdown-item" (click)="openModal(editContent)">Edit</a>
              <a class="dropdown-item" (click)="deleteModal(deleteContent)">Delete</a>
          </div>
        </div>
      </div> <!-- end dropdown -->
    </div>
  </div>
    
  <!-- body -->
  <div class="card-body">
    <div *ngIf="cardData.contactPerson.length > 0; else nolead">
      <div class="d-flex-inline" *ngFor="let person of cardData.contactPerson" >
        <p class="text-muted font-size-90" style="margin: 0;" >
          {{ person.name }}
        </p>
      </div>
    </div>
    <ng-template #nolead>No lead added yet</ng-template>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <span class="badge bg-dark text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 16px;height: 16px;">{{ getInitials(cardData.owner.fullName) }}</span>
        <p class="p-2 ml-2 mb-0">{{ cardData.owner.fullName }}</p>
      </div>
      <p class="text-nowrap mb-0">$ {{ cardData.value | number : '1.2-2' }}</p>
    </div>
  </div>
  
  <!-- Footer -->
  <div class="card-footer bg-transparent border-top">
    <p class="card-text"><em><small>Created At :<b>{{ cardData.createdAt | date:'dd-MM-yyyy' }}</b></small></em></p>
  </div>
</div>



<!-- Edit Modal -->
<ng-template #editContent role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Deal</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row mb-3">
        <label for="formDealTitleInput" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="formDealTitleInput" placeholder="Enter Deal Title Here" value="{{cardData.title}}">    
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="formDescriptionInput" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control text-muted" id="formDescriptionInput" rows="3" placeholder="Enter description">{{ cardData.description }}</textarea>  
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="formLeadTypeInput" class="col-sm-2 col-form-label text-nowrap">Lead Type</label>
        <div class="col-sm-10 d-flex align-items-center">
          <div class="form-check form-check-inline" *ngFor="let lead of leadTypes">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
            <label class="form-check-label" for="inlineRadio1">{{ lead }}</label>
          </div>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="formLeadTypeInput" class="col-sm-2 col-form-label text-nowrap">Person</label>
        <div class="col-sm-10 d-flex align-items-center">
          <mat-select [formControl]="personCtrl" placeholder="Person">
            <mat-option>
              <ngx-mat-select-search [formControl]="personFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Didnt match anything"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let person of filteredPerson | async" [value]="person">
              {{person.name}}
            </mat-option>
          </mat-select>
        </div> 
      </div>
      <div class="form-group row mb-3">
        <label for="formDealValueInput" class="col-sm-2 col-form-label">Deal Value</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="formDealValueInput" placeholder="Enter Deal Value" value="{{ cardData.value | number : '1.2-2' }}">    
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="formLeadTypeInput" class="col-sm-2 col-form-label text-nowrap">Pipeline</label>
        <div class="col-sm-10 d-flex align-items-center">
          <select class="form-select">
            <option *ngFor="let pipelineOptions of pipeline">{{ pipelineOptions.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="formStageTypeInput" class="col-sm-2 col-form-label text-nowrap">Stage</label>
        <div class="col-sm-10 d-flex align-items-center">
          <select class="form-select">
            <option *ngFor="let stage of stageTypes">{{ stage.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="formExpClosingDateInput" class="col-sm-2 col-form-label">Expecting Closing Date</label>
        <div class="col-sm-10 d-flex align-items-center">
          <input class="form-control" type="date" id="formExpClosingDateInput">
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="formLeadTypeInput" class="col-sm-2 col-form-label text-nowrap">Owner</label>
        <div class="col-sm-10 d-flex align-items-center">
          <select class="form-select">
            <option  selected disabled hidden>{{ cardData.owner.fullName }}</option>
            <option *ngFor="let user of userData">
              {{ user.fullName }}
            </option>
          </select>
        </div> 
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary">Save</button>
  </div>
</ng-template>

<!-- Manage Tag Modal -->
<ng-template #tagContent let-modal>
  <div class="modal-header">
    <h3 class="modal-title mt-0">Manage Tag</h3>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <div class="col-form-label">
      <mat-select [formControl]="tagsCtrl" placeholder="+ Add">
        <mat-option>
          <ngx-mat-select-search [formControl]="tagsFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Didnt match anything"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag.name}}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- Add activity Modal -->
<ng-template #activityContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Are you sure?</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <p>This content will be deleted permenantly.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">No</button>
    <button type="button" class="btn btn-primary">Yes</button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Are you sure?</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <p>This content will be deleted permenantly.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">No</button>
    <button type="button" class="btn btn-primary">Yes</button>
  </div>
</ng-template>