<div class="modal-body">
  <div class="row mt-4">
    <div class="col-12 d-flex align-items-center justify-content-center" style="height: 61px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-x-circle text-danger">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="15" y1="9" x2="9" y2="15"></line>
        <line x1="9" y1="9" x2="15" y2="15"></line>
      </svg>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center mt-4">
      <span>Are you sure?</span>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center mt-2">
      <span>This content will be deleted permanently</span>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center mt-4 mb-3">
      <button type="button" class="btn btn-light me-3" (click)="cancelClick()">No</button>
      <button type="button" class="btn btn-primary" (click)="confirmClick()">Yes</button>
    </div>
  </div>

</div>