td {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    vertical-align: middle !important;
}

.badge.PERSON {
    background-color: #964ed8;
}

.badge.DEAL {
    background-color: #46c35f    ;
}

.badge.ORGANIZATION {
    background-color: #fc6510    ;
}

.cursor-pointer {
    cursor: pointer;
}

// .badge {
//     padding: 0.5em;
// }

.action-column {
    text-align: right;
    overflow: visible !important;
}

.text-ellipsis {
    max-width: 150px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 10px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }