@import '../../../../mixin.scss';
@import '~dropzone/dist/min/dropzone.min.css';
/* Dropzone */

::ng-deep {
    .mat-form-field-infix {
        padding-top: 0px !important;
        border-top: none !important;
    }
    .mat-form-field-underline {
        display: none;
    }
    .tag-list {
        .mat-form-field-flex {
            background: rgb(255, 255, 255);
        }
    }
    .iti--allow-dropdown {
        width: 100%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        display: block;
    }
    .iti__flag-container {
        left: auto !important;
    }
    .iti__country-list {
        max-width: 445px;
    }
    .mat-select-search-clear {
        top: 0px !important;
    }
    .mat-chip-list-wrapper::after {
        content: '+ Add';
        color: rgba(0,0,0,.42);
    }
    .mat-select-arrow { opacity: 0; }

    mat-select.chip-bg {
        border: none;
    }
}

.chip-bg {
    background-color: rgba(0,0,0,0.04);
}

.address-grid {
    th {
        width: 100px !important;
    }
}

.tag-option {
    display: inline-flex;
    align-items: center;
    width: 100%;

    .tag-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.round-dot::before {
    content: "";
    height: 10px;
    width: 10px;
    background: green;
    border-radius: 50%;
    display: inline-flex;
}

.d-lg {
    display: none !important;
}

.d-lg-none {
    display: flex !important;
}

.form-check-input {
    width: 2em;
    height: 2em;
}

.rounded-pill {
    padding: 5px 10px !important;
}

.word-break {
    word-break: break-all;
}

.border-btm {
    border-bottom: 1px solid lightgray;
}

.border-check {
    width: 85px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.no-data-img {
    width: 150px;
    height: 150px;
}

th,td {
    border-bottom: none;
}

.page-title-right {
    i {
        transition: all 0.4s;
    }
    :hover { 
        color: #c20003;
        transform: scale(1.0);
    }
}

.bg-note {
    background-color: rgba(255,204,23,0.09);
}

span.done-circle {
    content: "";
    margin-right: 0.4rem;
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid var(--bs-primary);
    cursor: pointer;
}

@include screen-breakpoint($min, $desktop) {
    .d-lg {
        display: flex !important;
    }

    .d-lg-none {
        display: none !important;
    }
    .border-rgt {
        border-right: 1px solid lightgray;
    }
}
