<div class="container-fluid">

  <div class="row mb-3">
    <h4 class="col-10">{{action}} Pipeline</h4>

    <div class="col-2 d-flex flex-row-reverse">
      <button type="button" class="btn btn-light" (click)="goToPipelinePage()">Cancel</button>
      <span class="m-1"></span>
      <button type="button" class="btn btn-primary" (click)="savePipelines()">Save</button>
    </div>
  </div>

  <form [formGroup]="pipelineForm">

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Enter pipeline name" formControlName="name"
          [ngClass]="{'is-invalid': commonService.validationChecking('name', 'required', pipelineForm, submitClicked)}">
        <div class="invalid-feedback">
          <span *ngIf="commonService.validationChecking('name', 'required', pipelineForm, submitClicked)">
            Please provide a name.
          </span>
        </div>
      </div>
    </div>

    <div class="row scrollable-row" cdkDropListGroup formArrayName="stages">

      <div class="d-flex my-3" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="getStagesControl()"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let stageForm of getStagesControl(); let i = index" class="mx-2">
          <div cdkDragLockAxis="x" cdkDrag class="card p-3 m-0" style="width: 250px;">

            <form [formGroup]="stageForm" class="inline-form">
              <div *cdkDragPlaceholder></div>


              <div class="form-group row mb-3">
                <label class="col-sm-12 col-form-label">Name</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="Enter name" formControlName="name"
                    [ngClass]="{'is-invalid': commonService.validationChecking('name', 'required', stageForm, submitClicked)}">
                  <div class="invalid-feedback">
                    <span *ngIf="commonService.validationChecking('name', 'required', stageForm, submitClicked)">
                      Please provide a name.
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group row mb-3">
                <label class="col-sm-12 col-form-label">Probability</label>
                <div class="col-sm-12">
                  <input type="number" class="form-control" placeholder="Enter probability"
                    formControlName="probability"
                    [ngClass]="{'is-invalid': commonService.validationChecking('probability', 'required', stageForm, submitClicked)}">
                  <div class="invalid-feedback">
                    <span *ngIf="commonService.validationChecking('probability', 'required', stageForm, submitClicked)">
                      Please provide a probability.
                    </span>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-danger w-100"
                (click)="onClickDelete(deleteContent, stageForm.value.id, i)">
                <i class="bx bx-trash"></i>
                <span class="m-1"></span>Delete
              </button>

            </form>
          </div>
        </div>

        <div *ngIf="getStagesControl().length > 0" class="mx-2">
          <div class="card p-3 h-100 d-flex justify-content-center" style="width: 250px;">
            <div class="">
              <h5 class="text-center">Add new stage</h5>
              <p class="text-center">Pipeline stage is helpful to manage your sales process</p>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="addStageToPipelineForm()">Add Stage</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>


<!-- Manage Tag Modal -->
<ng-template #deleteContent let-modal>
  <div class="modal-header">
    <h3 class="modal-title mt-0">Delete Stage</h3>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <h5 class="text-danger">Opps!</h5>
    <h5 class="">What about the deals of this stage?</h5>

    <form [formGroup]="deleteStageForm">

      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="moveAllStages" value="true">
        <label class="form-check-label">
          Want to move these deals to another stage?
        </label>
      </div>

      <div class="form-group row my-3" *ngIf="deleteStageForm.value.moveAllStages === 'true'">
        <div class="col-sm-12 d-flex align-items-center">
          <select class="form-select" formControlName="newStagesId">
            <option *ngFor="let stage of filteredStages" value="{{stage.id}}">{{ stage.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="moveAllStages" value="false">
        <label class="form-check-label">
          Or delete anyway
        </label>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deletePipelines()">Delete</button>
  </div>
</ng-template>