<div class="modal-header d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <div class="avatar-sm ml-2">
      <span class="avatar-title rounded-circle bg-success font-size-16">{{  getInitials(fullName) }}</span>
    </div>
    <div class="media-body p-2">
      <p style="margin: 0;font-size: large;">{{ fullName }}</p>
      <p class="text-muted" style="margin: 0;">
        Deal Owner - {{ inputData.createdAt | date:'dd-MM-yyyy' }} - Age - {{ getTimeLapsed() }}
      </p>
    </div>
  </div>
  <div class="d-flex">
    <button type="button" class="btn btn-primary p-2" aria-hidden="true"><i class="bx bx-window-open font-size-16"></i> View Details</button>
    <button type="button" class="btn btn-close align-self-center" aria-hidden="true" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xl-9 mb-4 mb-xl-0">
      <div class="d-flex align-items-center">
        <h4 class="p-2"><b>#{{ inputData.id }}</b></h4>
        <h4>{{ inputData.title }}</h4>
        <h4 class="p-2 align-items-center"><span class="badge rounded-pill bg-primary">Open</span></h4>
      </div>

      <div class="card border-0 mb-3">
        <div class="card-title d-flex justify-content-between align-items-center">
          <span>
            {{ isEditDescription ? 'Description' : 'Description' }}
          </span>
          <div class="page-title-right" *ngIf="!isEditDescription">
            <i class="mdi mdi-square-edit-outline font-size-24 cursor-pointer"
              (click)="isEditDescription = !isEditDescription"></i>
          </div>
          <div class="page-title-right" *ngIf="isEditDescription">
            <i class="mdi mdi-close-box-outline font-size-24 cursor-pointer"
              (click)="isEditDescription = !isEditDescription"></i>
            <i class="mdi mdi-checkbox-marked-outline font-size-24 cursor-pointer"
              (click)="updateDescription()"></i>
          </div>
        </div>
        <div class="card-body comment-card">
          <div class="table-responsive" *ngIf="!isEditDescription">
            <p *ngIf="description" class="mb-0" placeholder="No description added yet">{{ description }}</p>
            <p *ngIf="!description" class="mb-0" placeholder="No description added yet">No description added yet</p>
          </div>
          <div class="table-responsive" *ngIf="isEditDescription">
            <form [formGroup]="profileForm">
              <textarea class="form-control"  rows="3" formControlName="description">{{ description }}</textarea>
            </form>
          </div>
        </div>
        <ckeditor class="mt-3" [editor]="Editor" data="<p></p>"></ckeditor>
        <div class="d-flex justify-content-end mt-2">
          <button class="btn btn-primary">Comment</button>
        </div>
      </div>
    </div>

    <div class="col-xl-3">
      <div class="border-bottom mb-4 pb-4">
        <div class="card-title d-flex justify-content-between align-items-center">
          <span>
            {{ isEditStage ? 'Edit Stage' : 'Stage' }}
          </span>
          <div class="page-title-right" *ngIf="!isEditStage">
            <i class="mdi mdi-square-edit-outline font-size-24 cursor-pointer"
              (click)="isEditStage = !isEditStage"></i>
          </div>
          <div class="page-title-right" *ngIf="isEditStage">
            <i class="mdi mdi-close-box-outline font-size-24 cursor-pointer"
              (click)="isEditStage = !isEditStage"></i>
            <i class="mdi mdi-checkbox-marked-outline font-size-24 cursor-pointer"
              (click)="updateStage()"></i>
          </div>
        </div>
        <div class="table-responsive" *ngIf="!isEditStage">
          <p class="mb-0 font-size-90 text-muted">
            <i class="bx bxl-trello text-primary"></i> {{ stage }}</p>
        </div>
        <div class="table-responsive" *ngIf="isEditStage">
          <form [formGroup]="profileForm">
            <select class="form-select" formControlName="stage">
              <option *ngFor="let stage of stages" [value]="stage.name">
                {{ stage.name }}
              </option>
            </select>
          </form>
        </div>
      </div>

      <div class="border-bottom mb-4 pb-4">
        <div class="card-title d-flex justify-content-between align-items-center">
          <span>
            {{ isEditDealValue ? 'Deal Value' : 'Deal Value' }}
          </span>
          <div class="page-title-right" *ngIf="!isEditDealValue">
            <i class="mdi mdi-square-edit-outline font-size-24 cursor-pointer"
              (click)="isEditDealValue = !isEditDealValue"></i>
          </div>
          <div class="page-title-right" *ngIf="isEditDealValue">
            <i class="mdi mdi-close-box-outline font-size-24 cursor-pointer"
              (click)="isEditDealValue = !isEditDealValue"></i>
            <i class="mdi mdi-checkbox-marked-outline font-size-24 cursor-pointer"
              (click)="updateDealValue()"></i>
          </div>
        </div>
        <div class="table-responsive" *ngIf="!isEditDealValue">
          <p class="mb-0 font-size-90 text-muted">
            <i class="bx bx-dollar text-primary"></i> {{ dealValue | number : '1.2-2' }}</p>
        </div>
        <div class="table-responsive" *ngIf="isEditDealValue">
          <form [formGroup]="profileForm">
            <input placeholder="Enter deal value" class="form-control" type="number" formControlName="dealValue" />
          </form>
        </div>
      </div>

      <div class="border-bottom mb-4 pb-4">
        <div class="card-title d-flex justify-content-between align-items-center">
          <span>
            {{ isEditLeadType ? 'Lead Type : Person' : 'Lead Type : Person' }}
          </span>
          <div class="page-title-right" *ngIf="!isEditLeadType">
            <i class="mdi mdi-square-edit-outline font-size-24 cursor-pointer"
              (click)="isEditLeadType = !isEditLeadType"></i>
          </div>
          <div class="page-title-right" *ngIf="isEditLeadType">
            <i class="mdi mdi-close-box-outline font-size-24 cursor-pointer"
              (click)="isEditLeadType = !isEditLeadType"></i>
            <i class="mdi mdi-checkbox-marked-outline font-size-24 cursor-pointer"
              (click)="updateLeadType()"></i>
          </div>
        </div>
        <div class="table-responsive" *ngIf="!isEditLeadType">
          <div class="media align-items-center me-2" *ngIf="personName">
            <div class="me-1 rounded-circle avatar-xs bg-black text-white d-flex align-items-center justify-content-center"
            alt="user-pic">{{getInitials(personName)}}</div>
            <div class="media-body text-muted">{{personName}}</div>
          </div>
          <div class="media align-items-center me-2" *ngIf="!personName">
            <div class="me-1 rounded-circle avatar-xs bg-black text-white d-flex align-items-center justify-content-center"
            alt="user-pic">N/A</div>
            <div class="media-body text-muted">No lead found</div>
          </div>
        </div>
        <div class="table-responsive" *ngIf="isEditLeadType">
          <div class="d-flex justify-content-between align-items-center">
            <label>Lead</label>
            <form [formGroup]="profileForm" class="col-sm-8">
              <select class="form-select" formControlName="personName">
                <option *ngFor="let person of personData" [value]="person.name">
                  {{ person.name }}
                </option>
              </select>
            </form>
          </div>
        </div>
      </div>

      <div class="border-bottom mb-4 pb-4">
        <p class="mb-2"><b>Proposal ({{ 0 }})</b></p>
      </div>

      <div class="border-bottom mb-4 pb-4">
        <div class="card-title d-flex justify-content-between align-items-center">
          <span>Tags</span>
          <div class="page-title-right" *ngIf="isEditTags">
            <i class="mdi mdi-checkbox-marked-outline font-size-24 cursor-pointer"
              (click)="updateDealsTag()"></i>
          </div>
        </div>        
        <div class="table-responsive">
          <table class="table table-nowrap mb-0">
            <tbody>
              <tr>
                <td>
                  <form [formGroup]="dealTagForm">
                    <div class="col-form-label">
                      <mat-select formControlName="tagIds" (ngModelChange)="onTagsChange()" placeholder="+ Add" multiple>
                        <mat-select-trigger>
                          <mat-chip-list>
                            <mat-chip *ngFor="let tag of filteredTags; let i = index" [removable]="true" (removed)="onTagsRemove(i)"
                              [ngStyle]="{'background-color': tag.colorCode}">
                              {{ tag.name }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          </mat-chip-list>
                        </mat-select-trigger>
                        <mat-option *ngFor="let tag of tags" value="{{tag.id}}">{{tag.name}}</mat-option>
                      </mat-select>
                    </div>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="border-bottom mb-4 pb-4">
        <div class="card-title d-flex justify-content-between align-items-center">
          <span>
            {{ isEditExpectedClosingDate ? 'Expected Closing Date' : 'Expected Closing Date' }}
          </span>
          <div class="page-title-right" *ngIf="!isEditExpectedClosingDate">
            <i class="mdi mdi-square-edit-outline font-size-24 cursor-pointer"
              (click)="isEditExpectedClosingDate = !isEditExpectedClosingDate"></i>
          </div>
          <div class="page-title-right" *ngIf="isEditExpectedClosingDate">
            <i class="mdi mdi-close-box-outline font-size-24 cursor-pointer"
              (click)="isEditExpectedClosingDate = !isEditExpectedClosingDate"></i>
            <i class="mdi mdi-checkbox-marked-outline font-size-24 cursor-pointer"
              (click)="updateExpectedClosingDate()"></i>
          </div>
        </div>
        <div class="table-responsive" *ngIf="!isEditExpectedClosingDate">
          <div *ngIf="expectedClosingDate" class="mb-0 font-size-90 text-muted">
            <i class="bx bx-calendar-alt text-primary"></i>
            {{expectedClosingDate}}
          </div>
          <div *ngIf="!expectedClosingDate" class="mb-0 font-size-90 text-muted">
            <i class="bx bx-calendar-alt text-primary"></i>
            Not added yet
          </div>
        </div>
        <div class="table-responsive" *ngIf="isEditExpectedClosingDate">
          <form [formGroup]="profileForm">
            <input class="form-control" type="date" formControlName="expiredDate"/>
          </form>
        </div>
      </div>

      <div class="border-bottom mb-4 pb-4">
        <div class="card-title d-flex justify-content-between align-items-center">
          <span>
            {{ isEditFollower ? 'Edit Followers' : 'Followers ('+followers.length+')'  }}
          </span>
          <div class="page-title-right" *ngIf="!isEditFollower">
            <i class="mdi mdi-square-edit-outline font-size-24 cursor-pointer"
              (click)="isEditFollower = !isEditFollower"></i>
          </div>
          <div class="page-title-right" *ngIf="isEditFollower">
            <i class="mdi mdi-close-box-outline font-size-24 cursor-pointer"
              (click)="isEditFollower = !isEditFollower"></i>
            <i class="mdi mdi-checkbox-marked-outline font-size-24 cursor-pointer"
              (click)="updateFollower()"></i>
          </div>
        </div>
        <div class="table-responsive">
          <div  *ngIf="!isEditFollower">
            <div *ngIf="followers.length == 0">
              <p>No person linked yet</p>
              <a class="cursor-pointer" (click)="isEditFollower = !isEditFollower">
                Link as person
              </a>
            </div>
          </div>
          <form [formGroup]="followerForms" *ngIf="isEditFollower">
            <table class="table table-nowrap mb-0">
              <tbody>
                <ng-container formArrayName="followers">
                  <ng-container *ngFor="let followerForm of followers.controls; let i = index">
                    <ng-container [formGroupName]="i">
                      <tr>
                        <td class="d-inline-flex w-100 page-title-right">
                          <mat-select class="form-control" formControlName="follower" placeholder="Choose One">
                            <mat-option>
                              <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No result"
                                formControlName="followerCtrlName">
                              </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let follower of filteredFollowers[i] | async" [value]="follower.id">
                              {{follower.name}}
                            </mat-option>
                          </mat-select>
                          <i class="bx bx-trash-alt font-size-24 d-flex align-items-center cursor-pointer"
                            style="margin-left: 10px;" (click)="deleteFollower(i)"></i>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <tr>
                  <td>
                    <a class="cursor-pointer" (click)="addFollower()">
                      + add more
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>