<div class="modal-header d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <div class="avatar-sm ml-2">
      <span class="avatar-title rounded-circle bg-success font-size-16">{{  getInitials(inputData.owner.fullName) }}</span>
    </div>
    <div class="media-body p-2">
      <p style="margin: 0;font-size: large;">{{ inputData.owner.fullName }}</p>
      <p class="text-muted text-nowrap" style="margin: 0;">
        Deal Owner - {{ inputData.createdAt | date:'dd-MM-yyyy' }} - Age - {{ getTimeLapsed() }}
      </p>
    </div>
  </div>
  <div class="d-flex">
    <button type="button" class="btn btn-primary p-2" aria-hidden="true"><i class="bx bx-window-open font-size-16"></i> View Details</button>
    <button type="button" class="btn btn-close align-self-center" aria-hidden="true" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
</div>
<div class="modal-body">
  <!-- <h5 style="min-height: 200px;">TBA</h5> -->
  <div class="row">
    <div class="col-xl-9 mb-4 mb-xl-0">
      <div class="d-flex align-items-center">
        <h4 class="p-2"><b>#{{ inputData.id }}</b></h4>
        <h4>{{ inputData.title }}</h4>
        <h4 class="p-2 align-items-center"><span class="badge rounded-pill bg-primary">Open</span></h4>
      </div>

      <div class="card border-0 mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5>Description</h5>
          <button type="button" class="btn">
            <i class="mdi mdi-square-edit-outline font-size-24"></i>
          </button>
        </div>
        <div class="card-body comment-card">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <p class="mb-0" placeholder="No description added yet">{{ inputData.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3">
      <div class="border-bottom mb-4 pb-4">
        <div class="d-flex align-items-center justify-content-between">
          <p class="mb-2"><b>Stage</b></p>
          <a href="#" class="text-muted"><i class="mdi mdi-square-edit-outline font-size-24"></i></a>
        </div>
        <p class="mb-0 font-size-90 text-muted"><i class="bx bxl-trello text-primary"></i> {{ getStage(inputData.stageId) }}</p>
      </div>
      <div class="border-bottom mb-4 pb-4">
        <div class="d-flex align-items-center justify-content-between">
          <p class="mb-2"><b>Deal Value</b></p>
          <a href="#" class="text-muted"><i class="mdi mdi-square-edit-outline font-size-24"></i></a>
        </div>
        <p class="mb-0 font-size-90 text-muted"><i class="bx bx-dollar text-primary"></i>{{ inputData.value | number : '1.2-2' }}</p>
      </div>
      <div class="border-bottom mb-4 pb-4">
        <div class="d-flex align-items-center justify-content-between">
          <p class="mb-2"><b>Lead Type : Person</b></p>
          <a href="#" class="text-muted"><i class="mdi mdi-square-edit-outline font-size-24"></i></a>
        </div>
        <div class="d-flex align-items-center" *ngFor="let person of inputData.contactPerson">
          <span class="badge bg-dark text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 16px;height: 16px;">{{ getInitials(person.name) }}</span>
          <p class="p-2 ml-2 mb-0">{{ person.name }}</p>
        </div>
      </div>
      <div class="border-bottom mb-4 pb-4">
        <p class="mb-2"><b>Proposal ({{ inputData.proposalsCount }})</b></p>
        <p>TODO</p>
      </div>
      <div class="border-bottom mb-4 pb-4">
        <p class="mb-2"><b>Tags</b></p>
        <mat-select [formControl]="personControl" placeholder="+ Add" multiple>
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip *ngFor="let selectedPerson of personControl.value"
                [removable]="true" (removed)="onPersonRemoved(selectedPerson)">
                {{ selectedPerson.name }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option *ngFor="let selectedPerson of person" [value]="selectedPerson">{{selectedPerson.name}}</mat-option>
        </mat-select>
      </div>
      <div class="border-bottom mb-4 pb-4">
        <div class="d-flex align-items-center justify-content-between">
          <p class="mb-2"><b>Expected Closing Date</b></p>
          <a href="#" class="text-muted"><i class="mdi mdi-square-edit-outline font-size-24"></i></a>
        </div>
        <p class="mb-0 font-size-90 text-muted"><i class="bx bx-calendar-alt text-primary"></i> Not added yet TODO</p>
      </div>
      <div class="border-bottom mb-4 pb-4">
        <div class="d-flex align-items-center justify-content-between">
          <p class="mb-2"><b>Followers (0 TODO)</b></p>
          <a href="#" class="text-muted"><i class="mdi mdi-square-edit-outline font-size-24"></i></a>
        </div>
        <p class="text-muted">No person linked yet TODO</p>
        <a href="#" class="font-size-90">Link a person TODO</a>
      </div>
    </div>
  </div> <!-- end row -->
</div>